/* Обычное состояние кнопки */
#submitButton {
    background-color: #3752d7; /* Цвет фона кнопки в обычном состоянии */
    color: #fff; /* Цвет текста кнопки в обычном состоянии */
    transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета при наведении и нажатии */
    cursor: pointer; /* Изменение курсора при наведении на кнопку */
}

/* Состояние кнопки при наведении */
#submitButton:hover {
    background-color: #4c96e1; /* Цвет фона кнопки при наведении */
    color: #fff; /* Цвет текста кнопки при наведении */
}

/* Состояние кнопки при нажатии */
#submitButton:active {
    background-color: #27679f; /* Цвет фона кнопки при нажатии */
    color: #fff; /* Цвет текста кнопки при нажатии */
}