<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="" th:href="@{/css/index.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="hero section">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <input type="checkbox" name="hbr" id="hbr" class="hbr peer" hidden aria-hidden="true">
    <nav class="fixed z-20 w-full bg-white/90 dark:bg-gray-900/80 backdrop-blur navbar shadow-2xl shadow-gray-600/5 border-b border-gray-100 dark:border-gray-800 peer-checked:navbar-active dark:shadow-none">
        <div class="xl:container m-auto px-6 md:px-12 lg:px-6">
            <div class="flex flex-wrap items-center justify-between gap-6 md:py-3 md:gap-0 lg:py-5">
                <div class="w-full items-center flex justify-between lg:w-auto">
                    <a class="relative z-10" href="#" aria-label="logo">
                        <img th:src="@{/img/logo.png}" width="191px" alt="">
                    </a>
                    <label for="hbr"
                           class="peer-checked:hamburger block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
                        <div aria-hidden="true"
                             class="m-auto h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                        <div aria-hidden="true"
                             class="m-auto mt-2 h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                    </label>
                </div>
                <div class="navmenu hidden w-full flex-wrap justify-end items-center mb-16 space-y-8 p-6 border border-gray-100 rounded-3xl shadow-2xl shadow-gray-300/20 bg-white dark:bg-gray-800 lg:space-y-0 lg:p-0 lg:m-0 lg:flex md:flex-nowrap lg:bg-transparent lg:w-7/12 lg:shadow-none dark:shadow-none dark:border-gray-700 lg:border-0">
                    <div class="text-gray-600 dark:text-gray-300 lg:pr-4">
                        <ul class="space-y-6 tracking-wide font-medium text-base lg:text-sm lg:flex lg:space-y-0">
                            <li>
                                <a href="#courses"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Курсы</span>
                                </a>
                            </li>
                            <li>
                                <a href="#rating"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Рейтинг</span>
                                </a>
                            </li>
                            <li>
                                <a href="#contactUs"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Связать с нами</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="w-full dark:border-gray-700 md:w-max lg:border-l" sec:authorize="!isAuthenticated()">
                        <a href="/login"
                           class="relative flex h-9 ml-8 items-center justify-center sm:px-6 before:absolute before:inset-0 before:rounded-full before:bg-sky-600 dark:before:bg-sky-400 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                            <span class="relative text-sm font-semibold text-white dark:text-gray-900">Войти</span>
                        </a>
                    </div>
                    <div class="w-full dark:border-gray-700 md:w-max lg:border-l" sec:authorize="isAuthenticated()">
                        <span class="font-semibold capitalize text-sky-400 ml-7" th:text="${name}"></span>
                    </div>
                    <div class="relative ml-3" sec:authorize="isAuthenticated()">
                        <button type="button"
                                class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                id="user-menu-btn" aria-expanded="false" aria-haspopup="true">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                 src="https://as1.ftcdn.net/v2/jpg/02/01/33/54/1000_F_201335438_CNpY0iWaXXAV95Gj8BPB0tEJlMcxWeaZ.jpg"
                                 alt="">
                        </button>
                        <div id="user-menu"
                             class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                             role="menu" aria-orientation="vertical" tabindex="-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Мой профиль</a>
                            <a href="/dashboard/user"   sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_TEACHER')"
                               class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Админ панель</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Настройки</a>
                            <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="bg-white relative pt-20 pb-40 lg:pt-80 dark:bg-gray-900">
    <div class="relative xl:container m-auto px-6 md:px-12 lg:px-6">
        <h1 class="sm:mx-auto sm:w-10/12 md:w-2/3 font-black text-blue-900 text-4xl text-center sm:text-5xl md:text-6xl lg:w-auto lg:text-left xl:text-7xl dark:text-white">
            Run successful remote and <br class="lg:block hidden">
            <span class="relative text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-cyan-500 dark:from-blue-400 dark:to-cyan-300">Hybrid teams</span>.
        </h1>
        <div class="lg:flex">
            <div class="relative mt-8 md:mt-16 space-y-8 sm:w-10/12 md:w-2/3 lg:ml-0 sm:mx-auto text-center lg:text-left lg:mr-auto lg:w-7/12">
                <p class="sm:text-lg text-gray-700 dark:text-gray-300 lg:w-11/12">
                    DailyBot takes chat and collaboration to the next level: daily standups, team check-ins, surveys,
                    kudos, best companion bot for your virtual watercooler, 1:1 intros, motivation tracking and more.
                </p>
                <span class="block font-semibold text-gray-500 dark:text-gray-400">The best companion bot for your chat app.</span>
                <div class="grid grid-cols-3 space-x-4 md:space-x-6 md:flex md:justify-center lg:justify-start">
                    <a aria-label="add to slack" href="/ort-trial-test"
                       class="p-4 border border-gray-200 dark:bg-gray-800 dark:border-gray-700 rounded-full duration-300 hover:border-cyan-400 hover:shadow-lg hover:shadow-cyan-600/20 dark:hover:border-cyan-300/30">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6 h-6"
                                 src="https://cdn.icon-icons.com/icons2/2466/PNG/512/blood_test_icon_149291.png"
                                 alt="slack logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block dark:text-white">Пробный тест по ОРТ </span>
                        </div>
                    </a>
                    <a aria-label="add to chat" href="#rating"
                       class="p-4 border border-gray-200 dark:bg-gray-800  dark:border-gray-700 rounded-full duration-300 hover:border-green-400 hover:shadow-lg hover:shadow-lime-600/20 dark:hover:border-green-300/30">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6 h-6"
                                 src="https://cdn-icons-png.flaticon.com/512/5219/5219258.png"
                                 alt="chat logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block dark:text-white">Рейтинг </span>
                        </div>
                    </a>
                </div>

                <div class="dark:text-gray-300">
                    🔥🌟
                    <span>Other integrations :</span>
                    <a href="#" class="font-semibold text-gray-700 dark:text-gray-200">Telegram</a>
                </div>

                <div class="pt-12 flex gap-6 lg:gap-12 justify-between grayscale lg:w-2/3">
                    <!--                    <img src="https://tailus.io/sources/blocks/tech-startup/preview/images/clients/airbnb.svg" class="h-8 sm:h-10 w-auto lg:h-12" alt="" />-->
                    <!--                    <img src="https://tailus.io/sources/blocks/tech-startup/preview/images/clients/ge.svg" class="h-8 sm:h-10 w-auto lg:h-12" alt="" />-->
                    <!--                    <img src="https://tailus.io/sources/blocks/tech-startup/preview/images/clients/coty.svg" class="h-8 sm:h-10 w-auto lg:h-12" alt="" />-->
                    <!--                    <img src="https://tailus.io/sources/blocks/tech-startup/preview/images/clients/microsoft.svg" class="h-8 sm:h-10 w-auto lg:h-12" alt="" />-->
                </div>
            </div>
            <div class="mt-10 md:mt-10 lg:absolute -right-10 lg:w-7/12">
                <div class="relative w-full">
                    <div aria-hidden="true"
                         class="absolute scale-75 md:scale-110 inset-0 m-auto w-full h-full md:w-96 md:h-96 rounded-full rotate-45 bg-gradient-to-r from-sky-500 to-cyan-300 blur-3xl"></div>
                    <img src="https://tailus.io/sources/blocks/tech-startup/preview/images/globalization-cuate.svg"
                         class="relative w-full" alt="wath illustration" loading="lazy" width="320" height="280">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->
<div id="courses" class="pb-40">
    <h1 class="sm:mx-auto pl-44 pt-32 pb-20 sm:w-10/12 md:w-2/3 font-black text-blue-900 text-4xl text-center sm:text-5xl md:text-6xl lg:w-auto lg:text-left xl:text-7xl dark:text-white">
        <span class="relative text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-cyan-500 dark:from-blue-400 dark:to-cyan-300">Курсы</span>.
    </h1>
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
<!--            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">-->
<!--                <div class="mb-12 space-y-4">-->
<!--                    <h3 class="text-2xl font-semibold text-purple-900">Graphic Design</h3>-->
<!--                    <p class="mb-6">Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste officia sed officiis! Incidunt ea animi officiis.</p>-->
<!--                    <a href="#" class="block font-medium text-purple-600">Узнать больше...</a>-->
<!--                </div>-->
<!--                <img src="https://tailus.io/sources/blocks/end-image/preview/images/graphic.svg" class="w-2/3 ml-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600">-->
<!--            </div>-->
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Компьютерные курсы</h3>
                    <p class="mb-6">Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste officia sed officiis! Incidunt ea animi officiis.</p>
                    <a href="/computer-course" class="block font-medium text-purple-600">Узнать больше...</a>
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ui-design.svg" class="w-2/3 ml-auto" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Подготовка к ОРТ</h3>
                    <p class="mb-6">Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste officia sed officiis! Incidunt ea animi officiis.</p>
                    <a href="/ort-course" class="block font-medium text-purple-600">Узнать больше...</a>
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ux-design.svg" class="w-2/3 ml-auto " alt="illustration" loading="lazy" width="900" height="600">
            </div>
        </div>
    </div>
</div>

<!-- Contact us -->
<div id="contactUs" class="relative flex items-top justify-center min-h-screen bg-white dark:bg-gray-900 sm:items-center sm:pt-0">
    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="relative flex justify-center text-2xl font-semibold text-sky-400/100" id="message"></div>

        <div class="mt-8 overflow-hidden">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="p-6 mr-2 bg-gray-100 dark:bg-gray-800 sm:rounded-lg">
                    <h1 class="text-4xl sm:text-5xl text-gray-800 dark:text-white font-extrabold tracking-tight">
                        Наши контакты
                    </h1>
                    <p class="sm:text-1xl font-small text-gray-600 dark:text-gray-400 mt-2">
                        Оставьте заявку, заполнив форму справа и мы перезвоним вам
                    </p>

                    <div class="flex items-center mt-8 text-gray-600 dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            Acme Inc, Street, State,
                            Postal Code
                        </div>
                    </div>

                    <div class="flex items-center mt-4 text-gray-600 dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            +44 1234567890
                        </div>
                    </div>

                    <div class="flex items-center mt-2 text-gray-600 dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            info@acme.org
                        </div>
                    </div>
                </div>

                <form class="p-6 flex flex-col justify-center" id="applicationForm">
                    <div class="flex flex-col">
                        <label for="name" class="hidden">ФИО</label>
                        <input type="text" name="name" id="name" placeholder="ФИО" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-white font-semibold focus:border-indigo-500 focus:outline-none">
                    </div>
                    <div class="flex flex-col mt-2">
                        <label for="phoneNum" class="hidden">Номер телефона</label>
                        <input type="text" name="phoneNum" id="phoneNum" placeholder="Номер телефона" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-white font-semibold focus:border-indigo-500 focus:outline-none">
                    </div>
                    <div class="flex flex-col mt-2">
                        <label for="course" class="text-normal text-lg font-medium text-gray-600 dark:text-gray-400 mt-2"></label>
                        <select name="course" id="course" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-white font-semibold focus:border-indigo-500 focus:outline-none">
                            <option value="" selected disabled hidden>Выберите курс</option>
                            <option class="text-normal text-lg font-medium text-white dark:text-gray-400 mt-2" value="Компьютерные курсы">Компьютерные курсы</option>
                            <option class="text-normal text-lg font-medium text-white dark:text-gray-400 mt-2" value="Подготовка к ОРТ">Подготовка к ОРТ</option>
                        </select>
                    </div>
                    <button type="submit" class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const userMenuBtn = document.getElementById('user-menu-btn');
    const userMenu = document.getElementById('user-menu');

    // userMenuBtn.addEventListener('click', () => {
    //     userMenu.classList.toggle('hidden');
    // });

    document.addEventListener('click', (event) => {
        if (!userMenu.contains(event.target) && !userMenuBtn.contains(event.target)) {
            userMenu.classList.add('hidden');
        }
    });

    document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
            userMenu.classList.add('hidden');
        }
    });

    $(document).ready(function() {
        $('#applicationForm').submit(function(event) {
            event.preventDefault();

            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            var name = $('#name').val();
            var phone = $('#phoneNum').val();
            var course = $('#course').val();

            // Проверка, что поля не пустые
            if (!name || !phone || !course) {
                alert('Заполните все поля');
                return;
            }

            var formData = {
                name: $('#name').val(),
                phone: $('#phoneNum').val(),
                course: $('#course').val()
            };

            console.log(formData);

            $.ajax({
                url: '/application',
                method: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(data) {
                    console.log('Серверный ответ:', data);

                    $('#name').val('');     // Очистить поле name
                    $('#phoneNum').val(''); // Очистить поле phoneNum
                    $('#course').val('');   // Сбросить выбор в поле course

                    $('#message').text('Ваша заявка принята, мы скоро с вами свяжемся');
                },
                error: function(xhr, status, error) {
                    console.error('Произошла ошибка при отправке заявки:', error);
                }
            });
        });
    });

</script>
</body>
</html>