<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="" th:href="@{/css/index.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/contact.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="hero section">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <input type="checkbox" name="hbr" id="hbr" class="hbr peer" hidden aria-hidden="true">
    <nav class="fixed z-20 w-full bg-white/90 dark:bg-gray-900/80 backdrop-blur navbar shadow-2xl shadow-gray-600/5 border-b border-gray-100 dark:border-gray-800 peer-checked:navbar-active dark:shadow-none">
        <div class="xl:container m-auto px-6 md:px-12 lg:px-6">
            <div class="flex flex-wrap items-center justify-between gap-6 md:py-3 md:gap-0 lg:py-5">
                <div class="w-full items-center flex justify-between lg:w-auto">
                    <a class="relative z-10" href="/" aria-label="logo">
                        <img th:src="@{/img/logo.png}" width="191px" alt="">
                    </a>
                    <label for="hbr"
                           class="peer-checked:hamburger block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
                        <div aria-hidden="true"
                             class="m-auto h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                        <div aria-hidden="true"
                             class="m-auto mt-2 h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                    </label>
                </div>
                <div class="navmenu hidden w-full flex-wrap justify-end items-center mb-16 space-y-8 p-6 border border-gray-100 rounded-3xl shadow-2xl shadow-gray-300/20 bg-white dark:bg-gray-800 lg:space-y-0 lg:p-0 lg:m-0 lg:flex md:flex-nowrap lg:bg-transparent lg:w-7/12 lg:shadow-none dark:shadow-none dark:border-gray-700 lg:border-0">
                    <div class="text-gray-600 dark:text-gray-300 lg:pr-4">
                        <ul class="space-y-6 tracking-wide font-medium text-base lg:text-sm lg:flex lg:space-y-0">
                            <li>
                                <a href="/#courses"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Курсы</span>
                                </a>
                            </li>
                            <li>
                                <a href="/#rating"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Рейтинг</span>
                                </a>
                            </li>
                            <li>
                                <a href="#contactUs"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Связать с нами</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="w-full dark:border-gray-700 md:w-max lg:border-l" sec:authorize="!isAuthenticated()">
                        <a href="/login"
                           class="relative flex h-9 ml-8 items-center justify-center sm:px-6 before:absolute before:inset-0 before:rounded-full before:bg-sky-600 dark:before:bg-sky-400 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                            <span class="relative text-sm font-semibold text-white dark:text-gray-900">Войти</span>
                        </a>
                    </div>
                    <div class="w-full dark:border-gray-700 md:w-max lg:border-l" sec:authorize="isAuthenticated()">
                        <span class="font-semibold capitalize text-sky-400 ml-7" th:text="${name}"></span>
                    </div>
                    <div class="relative ml-3" sec:authorize="isAuthenticated()">
                        <button type="button"
                                class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                id="user-menu-btn" aria-expanded="false" aria-haspopup="true" onclick="toggleUserMenu()">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                 src="https://as1.ftcdn.net/v2/jpg/02/01/33/54/1000_F_201335438_CNpY0iWaXXAV95Gj8BPB0tEJlMcxWeaZ.jpg"
                                 alt="">
                        </button>
                        <div id="user-menu"
                             class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                             role="menu" aria-orientation="vertical" tabindex="-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Мой профиль</a>
                            <a href="/dashboard/user" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_TEACHER')"
                               class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Админ панель</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Настройки</a>
                            <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Выход</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- component -->
<div class="px-4 pt-40 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
    <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">
        <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
            <div class="max-w-xl mb-6">

                <h2 class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
                    Подготовка к Важному Экзамену
                </h2>
                <p class="text-black text-base md:text-lg">
                    ОРТ является одним из наиболее важных экзаменов для студентов, желающих поступить в высшие учебные заведения в Кыргызстане.
                    Подготовительные курсы помогают студентам ознакомиться с форматом экзамена, материалами и методиками, увеличивая их шансы на успешное сдачу.
                </p>
            </div>
        </div>
        <img alt="logo" width="420" height="120" th:src="@{/img/office.gif}" />
    </div>
</div>


<div class="px-4 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
    <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">

        <img alt="logo" width="420" height="120" th:src="@{/img/goals.gif}" />


        <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">

            <div class="max-w-xl mb-6">

                <h2 class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
                    Поддержка в Учебе:
                </h2>
                <p class="text-black text-base md:text-lg">
                    Курсы подготовки к ОРТ предоставляют структурированный курс обучения, который помогает студентам лучше
                    овладеть предметами, включенными в экзамен. Это может быть особенно полезным для студентов,
                    которые испытывают трудности в определенных предметах.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="px-4 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
    <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">
        <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
            <div class="max-w-xl mb-6">

                <h2 class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
                    Расширение Возможностей для Поступления
                </h2>
                <p class="text-black text-base md:text-lg">
                    Успешное прохождение ОРТ может значительно увеличить шансы студента на поступление в престижные университеты
                    и специализированные программы. Это открывает перед ними более широкий спектр карьерных и образовательных возможностей.
                </p>
            </div>
        </div>
        <img alt="logo" width="420" height="120" th:src="@{/img/School.gif}" />
    </div>
</div>

<div id="contactUs" class="relative flex items-top justify-center min-h-screen bg-white dark:bg-gray-900 sm:items-center sm:pt-0">
    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="relative flex justify-center text-2xl font-semibold text-sky-400/100" id="message"></div>

        <div class="mt-8 overflow-hidden">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="p-6 mr-2 bg-gray-100 dark:bg-gray-800 sm:rounded-lg">
                    <h1 class="text-4xl sm:text-5xl text-gray-800 dark:text-white font-extrabold tracking-tight">
                        Наши контакты
                    </h1>
                    <p class="sm:text-1xl font-small text-gray-600 dark:text-gray-400 mt-2">
                        Оставьте заявку, заполнив форму справа и мы перезвоним вам
                    </p>

                    <div class="flex items-center mt-8 text-gray-600 dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            Acme Inc, Street, State,
                            Postal Code
                        </div>
                    </div>

                    <div class="flex items-center mt-4 text-gray-600 dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            +44 1234567890
                        </div>
                    </div>

                    <div class="flex items-center mt-2 text-gray-600 dark:text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                        </svg>
                        <div class="ml-4 text-md tracking-wide font-semibold w-40">
                            info@acme.org
                        </div>
                    </div>
                </div>

                <form class="p-6 flex flex-col justify-center" id="applicationForm">
                    <div class="flex flex-col">
                        <label for="name" class="hidden">ФИО</label>
                        <input type="text" name="name" id="name" placeholder="ФИО" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-white font-semibold focus:border-indigo-500 focus:outline-none">
                    </div>
                    <div class="flex flex-col mt-2">
                        <label for="phoneNum" class="hidden">Номер телефона</label>
                        <input type="text" name="phoneNum" id="phoneNum" placeholder="Номер телефона" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-white font-semibold focus:border-indigo-500 focus:outline-none">
                    </div>
                    <div class="flex flex-col mt-2">
                        <label for="course" class="text-normal text-lg font-medium text-gray-600 dark:text-gray-400 mt-2"></label>
                        <select name="course" id="course" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-white font-semibold focus:border-indigo-500 focus:outline-none">
                            <option value="" selected disabled hidden>Выберите курс</option>
                            <option class="text-normal text-lg font-medium text-white dark:text-gray-400 mt-2" value="Компьютерные курсы">Компьютерные курсы</option>
                            <option class="text-normal text-lg font-medium text-white dark:text-gray-400 mt-2" value="Подготовка к ОРТ">Подготовка к ОРТ</option>
                        </select>
                    </div>
                    <button type="submit" class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>