<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="" th:href="@{/css/index.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="hero section">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <input type="checkbox" name="hbr" id="hbr" class="hbr peer" hidden aria-hidden="true">
    <nav class="fixed z-20 w-full bg-white/90 dark:bg-gray-900/80 backdrop-blur navbar shadow-2xl shadow-gray-600/5 border-b border-gray-100 dark:border-gray-800 peer-checked:navbar-active dark:shadow-none">
        <div class="xl:container m-auto px-6 md:px-12 lg:px-6">
            <div class="flex flex-wrap items-center justify-between gap-6 md:py-3 md:gap-0 lg:py-5">
                <div class="w-full items-center flex justify-between lg:w-auto">
                    <a class="relative z-10" href="/" aria-label="logo">
                        <img th:src="@{/img/logo.png}" width="191px" alt="">
                    </a>
                    <label for="hbr"
                           class="peer-checked:hamburger block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
                        <div aria-hidden="true"
                             class="m-auto h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                        <div aria-hidden="true"
                             class="m-auto mt-2 h-0.5 w-5 rounded bg-gray-900 dark:bg-gray-300 transition duration-300"></div>
                    </label>
                </div>
                <div class="navmenu hidden w-full flex-wrap justify-end items-center mb-16 space-y-8 p-6 border border-gray-100 rounded-3xl shadow-2xl shadow-gray-300/20 bg-white dark:bg-gray-800 lg:space-y-0 lg:p-0 lg:m-0 lg:flex md:flex-nowrap lg:bg-transparent lg:w-7/12 lg:shadow-none dark:shadow-none dark:border-gray-700 lg:border-0">
                    <div class="text-gray-600 dark:text-gray-300 lg:pr-4">
                        <ul class="space-y-6 tracking-wide font-medium text-base lg:text-sm lg:flex lg:space-y-0">
<!--                            <li>-->
<!--                                <a href="/"-->
<!--                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">-->
<!--                                    <span>Курсы</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"-->
<!--                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">-->
<!--                                    <span>Рейтинг</span>-->
<!--                                </a>-->
<!--                            </li>-->
                            <li>
                                <a href="#contactUs"
                                   class="block md:px-4 transition hover:text-primary dark:hover:text-primaryLight">
                                    <span>Связать с нами</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="w-full dark:border-gray-700 md:w-max lg:border-l" sec:authorize="!isAuthenticated()">
                        <a href="/login"
                           class="relative flex h-9 ml-8 items-center justify-center sm:px-6 before:absolute before:inset-0 before:rounded-full before:bg-sky-600 dark:before:bg-sky-400 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                            <span class="relative text-sm font-semibold text-white dark:text-gray-900">Войти</span>
                        </a>
                    </div>
                    <div class="w-full dark:border-gray-700 md:w-max lg:border-l" sec:authorize="isAuthenticated()">
                        <span class="font-semibold capitalize text-sky-400 ml-7" th:text="${name}"></span>
                    </div>
                    <div class="relative ml-3" sec:authorize="isAuthenticated()">
                        <button type="button"
                                class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                id="user-menu-btn" aria-expanded="false" aria-haspopup="true">
                            <span class="absolute -inset-1.5"></span>
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                 src="https://as1.ftcdn.net/v2/jpg/02/01/33/54/1000_F_201335438_CNpY0iWaXXAV95Gj8BPB0tEJlMcxWeaZ.jpg"
                                 alt="">
                        </button>
                        <div id="user-menu"
                             class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                             role="menu" aria-orientation="vertical" tabindex="-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Мой профиль</a>
                            <a href="/dashboard/user"   sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_TEACHER')"
                               class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Админ панель</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Настройки</a>
                            <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>